version: "3.7"
services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
    image: jcayabyab/yw-nlp-backend
    restart: always
    volumes:
      - ./keys:/opt/app/keys
    ports:
      - "8000:8000"
    expose:
      - "8000"
    command: uvicorn app:app --reload --port 8000 --host 0.0.0.0

  nginx:
    depends_on:
      - backend
    container_name: proxy-app
    build:
      context: client
      dockerfile: Dockerfile
    image: jcayabyab/yw-nlp-frontend
    ports:
      - "80:80"
    restart: always

  db:
    image: mongo:4.4.3
    container_name: mongo
    volumes:
      - ./db/data:/data/db
    ports:
      - "27017:27017"
    expose:
      - "27017"

  cms:
    build:
      context: cms
      dockerfile: Dockerfile
    image: jcayabyab/yw-nlp-cms
    container_name: cms
    ports:
      - "3333:3333"
    expose:
      - "3333"
    restart: always
